
<!-- Created by John Hod — May 1st, 2019 -->

<!-- Basic Lab Template for home.html.erb -->

<header>
	<!-- External -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- Internal -->
	<%= javascript_include_tag "input_validation", "data-turbolinks-track" => true  %>
</header>

<body>

	<label>If you can see this text in your browser then you're off to a great start! Continue on to the next lab question.</label>

	<!-- Start of Form Container -->
	

	<!-- End of Form Container -->

</body>
